<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.instantiations.assist.eclipse.coverage.launching.emma">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.towson.cis.cosc442.project4.coffeemaker.TestAll"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CoffeeMakerTest"/>
</launchConfiguration>
